<div class="contents">
    <div class="cont">
        <h2><b>Ladang Getah Keramat</b></h2>
        <hr>
        <div class="card">
        <h2>Direct cost Incurred on Mature Rubber Area (RM)</h2>
        <hr>
        <table>
            <tr>
              <th>Cost Category</th>
              <th></th>
              <th></th>
            </tr>
            <tr *ngFor=" let cat of costCategory1; let i=index">
              <td>{{i+1}}) {{cat.costCategory}}</td>
              <td><b>Material</b></td>
              <td><b>Labour</b></td>
            </tr>
            <tr *ngFor="let process of costProcess; let i=index">
              <td style="text-align:right">{{i+1}}) {{process.processName}}</td>
              <td><input type="number"/></td>
              <td><input type="number"/></td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td style="text-align:right"><button class="btn-add" (click)="openDialog()">Add</button></td>
            </tr>
            <tr *ngFor=" let cat of costCategoryAll; let i=index">
              <td>{{i+2}}) {{cat.costCategory}} </td>
              <td colspan="2"><input type="number"/></td>
            </tr>
          </table>
          </div>
    
</div>

