<div class="contents">

    <div class="cont">
        <h2><b>List of Estates</b></h2>
        <hr>
        <input type="text" [(ngModel)]="term" placeholder="Filter Estate"/>
        <div class="card" *ngFor="let estate of estates | filter: term">
            <h2 style="text-align:left"><a routerLink="/e-estate/estate/{{estate.id}}">{{estate.estateName}}</a></h2>
            <table>      
                <tr>
                  <td>Address</td>
                  <td><span>:</span></td>
                  <td>{{estate.address1}}, {{estate.address2}}, {{estate.address3}}</td>
                </tr>
      
                <tr>
                  <td>Postcode</td>
                  <td><span>:</span></td>
                  <td>{{estate.postcode}}</td>
                </tr>
      
                <tr>
                  <td>Town</td>
                  <td><span>:</span></td>
                  <td>{{estate.town}}</td>
                </tr>
            </table>    
        </div>
    </div>
</div>

