<mat-toolbar>
  <mat-toolbar-row>
      <span class="span"><img width="75px" style="padding:10px;margin-top: -7px;" src ="../assets/Images/LGM-logo.png"/>
        <span style="font-size:25px; cursor: default;">Malaysian Rubber Board</span></span>
  </mat-toolbar-row>
</mat-toolbar>
    
    <div class="cont">
        <div class="container" id="container">
          <div class="form-container sign-in-container">
            <div class="form">
                <h1>Hello, User!</h1>
                <p>Already have account ?</p>
                <button class="ghost"  [routerLink]="['/login']">Sign In</button>
            </div>
          </div>
          <div class="overlay-container">
            <div class="overlay">
              <div class="overlay-panel overlay-right">
                <form [formGroup]="userService.formModel" (submit)="onSubmit()">
                    <h1>Create Account</h1>
                    <hr>
                    <label>Role: </label>
                    <select formControlName="Role">
                      <option disabled>Please Choose</option>
                      <option value="Admin">Admin</option>
                      <option value="Company Clerk">Company Clerk</option>
                      <option value="Estate Clerk">Estate Clerk</option>
                    </select>
                    <input type="text" placeholder="Username" formControlName="Username"/>
                    <input type="text" placeholder="Fullname" formControlName="Fullname"/>
                    <input type="email" placeholder="Email" formControlName="Email"/>
                    <div formGroupName="Passwords">
                    <input type="password" placeholder="Password" formControlName="Password"/>
                    <input type="password" placeholder="Confirm Password" formControlName="ConfirmPassword" />
                    </div>
                    <button type="submit">Sign Up</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
        </div>
    
