<div class="contents">
    <div class="cont">
     <h2><b>Ladang Getah Keramat</b></h2>
     <hr>
<div style="text-align: center;">
    <p>Month and Year: </p>
    <input type="month" #month value="{{previousMonth | date: 'YYYY-MM'}}" (change)="monthSelected(month.value)"/>
    <!-- $event.target.value
        for method parse value -->
    </div>
    <!-- <div style="float:right">
        <button style="float:right;" (click)="add()" class="btn-add">Add<img style="width:20px;" src="../assets/Images/add-icon.png"></button>
    </div><br> -->      
    <hr>
<div class="card" *ngIf="filterProductions.length==0">
<div style="text-align: center;overflow-x: auto;">
    <table style="width: 100%;">
        <tr>
            <th><u>Month and Year</u></th>
            <th><u>Field Name</u></th>
            <th><u>Cuplump Production (Kg)</u></th>
            <th><u>Cuplump DRC (%)</u></th>
            <th><u>Latex Production (Kg)</u></th>
            <th><u>Latex DRC (%)</u></th>
            <th><u>Total Task Tap</u></th>
            <th><u>Total Task Untap</u></th>
        </tr>
        <tr *ngFor="let field of fields; let i=index">
            <td><input type="text" name="month" [(ngModel)]="products[i].monthYear" disabled></td>
            <td>{{field.fieldName}}</td>
            <td><input type="number" name="cuplump" [(ngModel)]="products[i].cuplump"></td>
            <td><input type="number" name="cuplumpDRC" [(ngModel)]="products[i].cuplumpDRC"></td>
            <td><input type="number" name="latex" [(ngModel)]="products[i].latex"></td>
            <td><input type="number" name="latexDRC" [(ngModel)]="products[i].latexDRC"></td>
            <td><input type="number" name="noTaskTap" [(ngModel)]="products[i].noTaskTap"></td>
            <td><input type="number" name="noTaskUntap" [(ngModel)]="products[i].noTaskUntap"></td>
        </tr>
    </table>
</div><br>
<div style="float:right">
    <button style="float:right;" class="btn-add" (click)="add()">Add<img style="width:20px;" src="../assets/Images/add-icon.png"></button>
</div>
</div>
<hr>
<!-- <label>Total Estate Productivity: {{totalEstateProductitivity | number : '1.2-2'}} Kg</label> -->

<div class="card" *ngIf="filterProductions.length!=0">
    <div style="text-align: center;overflow-x: auto;">
        <table style="width: 100%;">
            <tr>
                <th>Month and Year</th>
                <th>Field Name</th>
                <th>Cuplump Production (Kg)</th>
                <th>Cuplump DRC (%)</th>
                <th>Cuplump Dry (kg)</th>
                <th>Latex (Kg)</th>
                <th>Latex DRC (%)</th>
                <th>Latex Dry (Kg)</th>
                <th>Total Productivity (KgHaYr)</th>
                <th>No of Task Tap</th>
                <th>No of Task Uptap</th>
            </tr>
    
            <tr *ngFor="let product of filterProductions, index as i" >
                <td>{{product.monthYear| date: 'MMM-yyyy'}}</td>
                <td>{{product.fieldName}}</td>
                <td><input type="text" value="{{product.cuplump}}" disabled></td>
                <td><input type="number" value="{{product.cuplumpDRC}}" disabled></td>
                <td>{{cuplump[i] | number : '1.2-2'}}</td>
                <td><input type="number" value="{{product.latex}}" disabled></td>
                <td><input type="number" value="{{product.latexDRC}}" disabled></td>
                <td>{{latex[i] | number : '1.2-2'}}</td>
                <td>{{total[i] | number : '1.2-2'}}</td>
                <td><input type="number" value="{{product.noTaskTap}}" disabled></td>
                <td><input type="number" value="{{product.noTaskUntap}}" disabled></td>
                <!-- <td style="text-align:center"><button class="btn-del"><img (click)="delete(labor.id)" style="width:20px;" src="../assets/Images/delete.png"></button></td> -->
            </tr>
        </table>
    </div>
</div>
</div>
