<br>
<h2>{{cropType}}</h2>
<div class="card">
  <table>
      <tr>
        <th>Category</th>
        <th>Year</th>
        <th>Area(Ha)</th>
      </tr>
      <tr *ngFor="let category of filterCropCategories; let i=index">
        <td>{{category.cropCategory}}</td>
        <td><input type="number" name="year" [(ngModel)]="areas[i].year"/></td>
        <td><input type="number" placeholder="0" [(ngModel)]="areas[i].area"/></td>
      </tr>
    </table>
    </div>
<hr>

<div class="card">
  <label style="text-align:left"><b>Total Immature Area: {{total}} Ha</b></label>
  <input type="text"  [(ngModel)]="term" placeholder="Filter year"/>
  <hr>
  <table style="width: 100%;">
      <tr>
        <th>Category</th>
        <th>Year</th>
        <th>Area(Ha)</th>
      </tr>
      <tr *ngFor="let area of filterCropAreas  | filter: term">
        <td>{{area.cropCategory}}</td>
        <td>{{area.year}}</td>
        <td><input type="number" disabled value="{{area.area}}"/></td>
      </tr>
    </table>
</div>
