<div class="contents" style="overflow-y:auto; padding-bottom: 10px;">
    <div class="cont">
    <h2><b>Ladang Getah Keramat</b></h2>
    <hr>

<div class="card">
<form #form="ngForm"  (ngSubmit)="onSubmit()">
  <div style="columns:2;">
    <label>Field / Block :</label>
    <b><input type="text" name="fieldname" [(ngModel)]="field.fieldName"/></b>
    <label>Field Area (Ha) :</label>
    <b><input type="text" name="fieldarea" [(ngModel)]="field.area"/></b>
  </div>

  <div style="columns:2;">
    <label>Maturity :</label>
    <select name="maturity" [(ngModel)]="field.isMature" (change)="getcategory($event)">        
      <option value=0 disabled selected>Please Choose</option>
      <option [ngValue]="true">Mature</option>
      <option [ngValue]="false">Immature</option>
    </select>
    <label>Crop Category :</label>
    <select name="cropCat" [(ngModel)]="field.cropCategoryId">        
      <option value=0 disabled selected>Please Choose</option>
      <option *ngFor="let category of filterCropCategories" value="{{category.id}}">{{category.cropCategory}}</option>
    </select>
  </div>

  <div style="columns:1;" *ngIf="field.cropCategoryId == 12 || field.cropCategoryId == 13">
    <label>Others crop :</label>
    <b><input type="text" name="other" [(ngModel)]="field.otherCrop"/></b>
  </div>
  
  <div style="columns:2;">
    <label>Year Planted :</label>
    <b><input type="number" name="year" [(ngModel)]="field.yearPlanted"/></b>
    <div *ngIf="field.cropCategoryId != 12">
    <ng-container *ngIf="field.cropCategoryId != 13">
    <label>Clone :</label>
    <select name="clone" [(ngModel)]="field.cloneId">
    <option value="" disabled selected>Please Choose</option>
    <option *ngFor="let clone of clones" value="{{clone.id}}">{{clone.cloneName}}</option>
    </select>
      </ng-container>
    </div>
  </div>

  <div style="columns:2;">
    <label>Status :</label>
    <select name="status" [(ngModel)]="field.status">
      <option value="" disabled selected>Please Choose</option>
      <option value="Active">Active</option>
      <option value="Inactive">Inactive</option>
    </select>
    <label>Date Open Tapping :</label>
    <input name="dateopentapping" type="date" [(ngModel)]="field.dateOpenTapping" />
  </div>

  <div style="float:right;">
    <button class="btn-add" type="submit">Add<img style="width:20px;" src="../assets/Images/add-icon.png"></button>
  </div>
  </form>
</div>

  <hr>
  <div class="card">
    <div class="conts">
      <label>Total Field : {{total}} Ha</label>
    </div>

      <div style="overflow-x: auto; width: 100%; color: white;">
        <table>
            <tr>
              <th>Field / Block</th>
              <th>Field Area (Ha)</th>
              <th>Maturity</th>
              <th>Crop Category</th>
              <th>Other Crop</th>
              <th>Year Planted</th>
              <th>Clone</th>
              <th>Status</th>
              <th>Date Open Tapping</th>
            </tr>

            <tr *ngFor="let field of fields">
              <td><a routerLink="/e-estate/fieldsinfo/{{field.id}}">{{field.fieldName}}</a></td>
              <td><input type="text" value="{{field.area}}" disabled/></td>
              <td><input type="text" value="{{field.isMature == true ? 'Mature':'Immature'}}" disabled/></td>
              <td><input type="text" value="{{field.cropCategory}}" disabled/></td>
              <td><input type="text" value="{{field.otherCrop}}" disabled/></td>
              <td><input type="text" value="{{field.yearPlanted}}" disabled/></td>
              <td><input type="text" value="{{field.clone}}" disabled/></td>
              <td><input type="text" value="{{field.status}}" disabled/></td>
              <td><input type="text" value="{{field.dateOpenTapping | date : 'dd/MM/YYYY'}}" disabled/></td>
            </tr>
          </table>
            </div>
            <br>
          </div>
</div>
</div>

