
<!-- <div [ngClass]= "{'display': user.role == 'Admin', 'none':user.role == 'Company Clerk' || user.role == 'Estate Clerk' }">
<button routerLink="/e-estate/company-list" mat-button routerLinkActive="mat-accent">
    <span>List of Companies</span>
</button>
    <hr>
</div>

<div [ngClass]= "{'display': user.role == 'Admin', 'none':user.role == 'Company Clerk' || user.role == 'Estate Clerk'}">
<button routerLink="/e-estate/estate-list" mat-button routerLinkActive="mat-accent">
    <span>List of All Estates</span>
</button>
    <hr>
</div>

<div [ngClass]= "{'display': user.role == 'Company Clerk', 'none':user.role == 'Estate Clerk'}">
<button routerLink="/e-estate/company-profile" mat-button routerLinkActive="mat-accent" >
    <span>Company Profile</span>
</button>
    <hr>
</div>

<!-- <div [ngClass]= "{'display': user.role == 'Company Clerk', 'none':user.role == 'Estate Clerk'}">
<button routerLink="/e-estate/estate" mat-button routerLinkActive="mat-accent">
    <span>List of Estates</span>
</button>
    <hr>
</div>

<div [ngClass]= "{'display': user.role == 'Estate Clerk', 'none':user.role == 'Company Clerk'}">
<button routerLink="/e-estate/field-info" mat-button routerLinkActive="mat-accent">
    <span>Field Information</span>
</button>
    <hr>
</div>

<div [ngClass]= "{'display': user.role == 'Estate Clerk', 'none':user.role == 'Company Clerk'}">
<button routerLink="/e-estate/field-production" mat-button routerLinkActive="mat-accent" >
    <span>Field Production</span>
</button>
    <hr>
</div>

<div [ngClass]= "{'display': user.role == 'Estate Clerk', 'none':user.role == 'Company Clerk'}">
<button routerLink="/e-estate/labor-info" mat-button routerLinkActive="mat-accent">
    <span>Labor Information</span>
</button>
    <hr>
</div>

<div [ngClass]= "{'display': user.role == 'Estate Clerk', 'none':user.role == 'Company Clerk'}">
    <button routerLink="/e-estate/crop-info" mat-button routerLinkActive="mat-accent">
        <span>Crop Information</span>
    </button>
        <hr>
</div> -->


<!--comment lme dh-->
<!-- <div [ngClass]= "{'display': user.role == 'Estate Clerk', 'none':user.role == 'Company Clerk'}">
    <button routerLink="/e-estate/cost-info" mat-button routerLinkActive="mat-accent">
        <span>Cost Information</span>
    </button>
        <hr>
</div> -->

    

