<div class="contents">
<div class="cont">
    <h2><b>Lembaga Getah Malaysia</b></h2>
    <hr>
    <div class="card">
    <div style="float:right">
        <button style="float:right" class="btn-add" routerLink="/e-estate/add-estate">Add New Estate<img style="width:20px;" src="../assets/Images/add-icon.png"/></button>
    </div>
    <br>
<div style="overflow-x: auto; width: 100%; overflow-y: auto;">
<table style="width: 100%">
  <thead>
      <tr>
        <th>Estate Name</th>
        <th>Town</th>
        <th>Email</th>
        <th>License No</th>
        <th>Total Area (Ha)</th>
        <th>Membership Type</th>
        <th>Status</th>
      </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let estate of estates">
      <tr>
        <td><a routerLink="/e-estate/estate/{{estate.id}}">{{estate.estateName}}</a></td>
        <td>{{estate.town}}</td>
        <td>{{estate.email}}</td>
        <td>{{estate.licenseNo}}</td>
        <td>{{estate.totalArea}}</td>
        <td>{{estate.membership}}</td>
        <td><button class="btn-update" (click)="changeStatus(estate,history)" [ngClass]=
          "{'blue': estate.status == 'Active', 'red':estate.status == 'Inactive'}">{{estate.status}}</button></td>
      </tr>
      </ng-container>
    </tbody>
      </table>
    </div>

    <!-- To see json data -->
    <!-- <p>{{estates | json }}</p> -->

    <!-- Using Angular Material Table -->
      <!-- <div class="mat-elevation-z8">
        <mat-table  [dataSource]="estates" matSort>
          <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Estate Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Town">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Town</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.town}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="TotalArea">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Total Area</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.totalArea}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Membership">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Membership Type</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.totalArea}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let element"></mat-cell>
          </ng-container>

          <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef >Action</mat-header-cell>
            <mat-cell *matCellDef="let element"></mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let estate; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div> -->
</div>
</div>
</div>
