<mat-toolbar>
  <mat-toolbar-row>
      <span class="span"><img width="75px" style="padding:10px;margin-top: -7px;" src ="../assets/Images/LGM-logo.png"/>
        <span style="font-size:25px; cursor: default;">Malaysian Rubber Board</span></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="cont">
    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <form #form="ngForm">
          <h1>Login Angular</h1>
          <button type="submit" (click)="login()">LogIn</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
          <span class="span"><img width="150px" style="padding:10px;margin-top: -7px;" src ="../assets/Images/LGM-logo.png"/>
            </span>
            <h2 style="font-family: Lucida Console, Courier New, monospace;">Welcome to E-Estate</h2>
            <!-- <h1>Hello, User!</h1>
            <p>Enter your company details and start journey with us</p>
            <button class="ghost" id="signUp" [routerLink]="['/register']">Sign Up</button> -->
          </div>
        </div>
      </div>
    </div>
    </div>

<app-spinner></app-spinner>
